<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-gray-100">
    <!-- Navigation Bar -->
    <nav class="bg-blue-600 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <a href="/" class="text-white font-bold text-xl">Attendance System</a>

        <% let success = typeof successMessage !== 'undefined'?successMessage:false %>
        <% let errors = typeof errorMessages !== 'undefined'?errorMessages:false %>


            <% if (success) { %>
                <div id="alert-msg" class="mb-4 bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
                    <span class="block sm:inline"><%= success %></span>
                </div>
            <% } %>
    
            <!-- Error Messages -->
            <% if (errors && errors.length > 0) { %>
                <div id="alert-msg" class="mb-4 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                    <ul class="list-disc pl-5">
                        <% errors.forEach(error => { %>
                            <li><%= error %></li>
                        <% }) %>
                    </ul>
                </div>
            <% } %>

            <% let users = typeof user !== 'undefined'? user: false  %>

            <% if (users) { %>
                <div class="flex items-center space-x-4">
                    <span class="text-white">Welcome, <%= users.name %></span>
                    <a href="/api/teachers/logout" class="text-white hover:bg-blue-700 px-3 py-2 rounded">Logout</a>
                </div>
            <% } else { %>
                <div class="flex items-center space-x-4">
                    <a href="/api/admin/login" class="text-white hover:bg-blue-700 px-3 py-2 rounded">Admin Login</a>
                    <a href="/api/teachers/login" class="text-white hover:bg-blue-700 px-3 py-2 rounded">Teacher Login</a>
                </div>
            <% } %>
        </div>
    </nav>
    <script>
        // alert message
        const alertMessage = document.getElementById('alert-msg');
        if (alertMessage) {
            setTimeout(() => {
                alertMessage.classList.add('hidden');
                }, 3000);
            }

    </script>
    <div class="container mx-auto p-4">